@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#prow {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 10px;
  margin: 30px;
}
